<!--
Team MadCauseBad - Ryan Ma, Jessica Yeung, May Hathaway, William Li
SoftDev
P0: Da Art of Storytellin' (Pt. 2)
2021-01-08
-->

<!DOCTYPE html>
<html>

<head>
  <title>Browse other blogs!></title>
</head>

<body>
  <h1> View other users' blogs! </h1>
  {% for blog in blogs %}
    <tr><td><a href="/home/blog/{{ blog['username']}}">{{blog["blogname"]}}</a><td>
      <td>{{blog['Username']}}</td>
      <td>{{blog["time"]}}</td>
      <td class = "desc">{{blog["blogdescription"]}}</td>
      <td>
</body>

</html>
