<!--
Team MadCauseBad - Ryan Ma, Jessica Yeung, May Hathaway, William Li
SoftDev
P0: Da Art of Storytellin' (Pt. 2)
2021-01-08
-->

<!DOCTYPE html>

<html>

<head>
  <title>HOME</title>
  <link rel="stylesheet" href="\static\style.css">
</head>

<body>
  <h1>
    Welcome to the blog site of all blog sites!
  </h1>
  <h2>
    You must login to gain access to the site.
  </h2>

  <form action = "/login" method = "post"> <!--Goes to login page-->
    <input type = "submit" name = "gotologin" value = "Login here">
  </form>
  <br>

  <form action = "/register" method = "post"> <!--Goes to registration page-->
    <input type = "submit" name = "register" value = "Register here">
  </form>

</body>

</html>
