<!--
Team MadCauseBad - Ryan Ma, Jessica Yeung, May Hathaway, William Li
SoftDev
P0: Da Art of Storytellin' (Pt. 2)
2021-01-08
-->

<!DOCTYPE html>

<html>

<head>
  <title>REGISTRATION</title>
</head>

<body>
  <h1>
    Please register below.
  </h1>

  <form action = "/login" method = "post"> <!--Goes to user home page, or redirects to login page if login fails-->
    <input type = "text" name = "username" placeholder = "Username" required>
    <br>
    <input type = "text" name = "pw" placeholder = "Password" required>
    <br>
    <br>
    <input type = "submit" name= "signup" value = "Register">
  </form>
  <br>

</body>

</html>
