<!--
Team MadCauseBad - Ryan Ma, Jessica Yeung, May Hathaway, William Li
SoftDev
P0: Da Art of Storytellin' (Pt. 2)
2021-01-08
-->

<!DOCTYPE html>

<html>

<head>
  <title>REGISTRATION</title>
</head>

<body>
  <h1>
    Please register below.
  </h1>

  <form action = "/register" method = "post"> <!--Goes to login page, or redirects to register page if register fails-->
    <input type = "text" name = "username" placeholder = "Username" required>
    <br>
    <input type = "text" name = "passw" placeholder = "Password" required>
    <br>
    <br>
    <input type = "submit" name= "signup" value = "Register">
  </form>
  <br>

  <b>
    {{error}} <!--Username already in use.-->
  </b>

</body>

</html>
