<!--
Team MadCauseBad - Ryan Ma, Jessica Yeung, May Hathaway, William Li
SoftDev
P0: Da Art of Storytellin' (Pt. 2)
2021-01-08
-->

<!DOCTYPE html>

<html>

<head>
  <title>HOME</title>
</head>

<body>
  <h1>
    Welcome to the blog site of all blog sites!
  </h1>
  <h2>
    Welcome back, {{user}}.
  </h2>
  {{message}}
  <br>
  <form action = "/userhome" method = "post"> <!--Goes to home page-->
    <input type = "submit" name = "myblog" value = "My blog">
  </form>

  <form action = "/userhome" method = "post"> <!--Goes to home page-->
    <input type = "submit" name = "createblog" value = "Create a blog">
  </form>

  <form action = "/browse" method = "post"> <!--Goes to home page-->
    <input type = "submit" name = "blog" value = "View other blogs">
  </form>

  <form action = "/userhome" method = "post"> <!--Goes to home page-->
    <input type = "submit" name = "logout" value = "Logout">
  </form>
  <br>













</body>

</html>
